
#wrap{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    
  }
  .pass-form{
    max-width: 600px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color:darkseagreen;
  }

  