
#wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: 20px;
  }
  .editprofile-form {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f7f7f7;
  }

  