
#wrap{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    
  }
  .login-form{
    max-width: 600px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f7f7f7;
  }

  