{% extends 'base.html' %}
{% load static %}
{% block title %}Deposit{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'CSS/deposit.css' %}">
{% endblock style %}

{% block content %}

{% comment %} error handeling {% endcomment %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
    <div class="bg-danger border border-danger rounded  px-4 py-3 my-3 container ">
        <p class="fw-bolder text-white">Error!</p>
        <p class="fw-bolder text-white">{{ error|escape }}</p>
    </div>
{% endfor %}
{% endif %}





<div id="wrap">
  <div class="deposit">
    <h1 class="text-center fs-1 fw-bold">Deposit Money</h1>
    <hr>
    <form method="post">
      {% csrf_token %}

      {% for hidden_field in form.hidden_fields %}
             {{ hidden_field.errors }} {{ hidden_field }} 
      {% endfor %}

      {% for field in form.visible_fields %}
                <div class="form-group my-2">
                    <label class="fw-bold fs-5 mb-1" for="{{field.id_for_label}}">{{field.label}}</label> 
                    <input class="form-control" name="{{ field.name }}" id="{{ field.id_for_label }}" type="{{ field.widget_type }}">
                   
                    {% if field.errors %} 
                            {% for error in field.errors %}
                            <p class="text-danger fs-6  pb-2">{{ error }}</p>
                            {% endfor %} 
                    {% endif %}
                </div>
        {% endfor %}
      <button type="submit" class="btn btn-dark fw-bold mt-2">Deposit</button>
    </form>
    <br>

  </div>
</div>
{% endblock %}
